body {
    background-color: #000007;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/af/Dmitri_Mendeleev.jpg");
    background-repeat: no-repeat;
    background-position: 30% 0;
}
td {
    width:4vw;
    height:4vw;
    background-color: #FA9005;
}
div {
    color:black;
}
table {
    empty-cells: hide;
}
.nratom{
    text-align: left;
    font-size: 0.8vw;
}
.elem{
    text-align: center;
    font-size: 1vw;
}
.masa{
    text-align:right;
    font-size: 0.8vw;
}